<!DOCTYPE html>
<html>

  <head>
    <title>Request Header Parser Microservice | Backend Challenges | Free Code Camp</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>Request Header Parser Microservice</h1>
      <h3>Part 2 of Free Code Camp Backend Challenges</h3>
      <ol>
        <li>User Story: I can get the IP address, language and operating system for my browser.</li>
      </ol>
      <h3>Example use</h3>
      <ul>
        <li><a href="/whoami"><code>https://&lt;host&gt;/whoami</code></a></li>
      </ul>
      <h3>Example response</h3>
      <code>{"ipaddress":"12.34.56.78","language":"en-US","software":"Windows NT 6.1; Win64; x64"}</code>
    </div>
  </body>

</html>
